/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

header h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
/* CSS des boutons pour les filtres */
.b_filter {
	background-color: white;
	border: 1px solid #1D6154;
	text-align: center;
	border-radius: 60px;
	font-size: 16px;
	color: #1D6154;
	padding: 9px 20px 9px 20px;
	font-weight: 700;
	font-family: 'Syne';
}

.flexButton {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-bottom: 51px;
	margin-top: 51px;
}

.button_selected {
	color: white;
	background-color: #1D6154;
}
/*  fin CSS des boutons pour les filtres */

/* Ajout règles pour le lien du login */
header a {
	text-decoration: none;
	color: black;
}
header a:hover {
	color: #B1663C;
}
/* Fin Ajout règles pour le lien du login */

/* CSS page Log In */

.a_login {
	font-weight: 600;
}

.footer_login {
	margin-top: 150px;
}

.form_login p {
	margin: auto;
	text-align: center;
	text-decoration: underline;
	margin-bottom: 10px;
}

#seconnecter {
	transition: transform 0.2s ease;
	cursor: pointer;
}

#seconnecter:hover {
	transform: scale(1.1);
}


/* fin CSS page Log In */

/* CSS du mode édition */

.bandeau {
	height: 59px;
	background-color: black;
	color: white;
}

.bulle {
	background-color: white;
	color: black;
	border-radius: 60px;
	height: 38px;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	transition: transform 0.2s ease;
	cursor: pointer;
}

.bulle:hover {
	transform: scale(1.1);
}

.flexcenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.column {
	flex-direction: column;
}


.gap {
	gap: 15px;
}

.flexcolumn {
	display: flex;
	flex-direction: column;
	width: 60%;
}

.flex_image {
	display: flex;
	width: 80%;
	margin: auto;
	margin-top: 10px;
	gap: 8px;
	
}

.gap_titrePortfolio {
	gap: 30px;
	margin-bottom: 30px;
}

#portfolio a {
	text-decoration: none;
	color: black;
}

/* Fin CSS mode Edition */

/* CSS modal */

.modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
	animation: fadeIn 0.3s both;
	z-index: 20;
	width: 100vw;
	height: 100vh;

}

.modal :focus {
	box-shadow: 0 0 10px blue;
}
.modal-wrapper {
	background-color: white;
	width: 630px;
	height: 731px;
	padding: 20px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	overflow: auto;
	animation: slideFromTop .3s both .1s;
}

.modal[aria-hidden= "true"] {
	animation-name: fadeOut;
}

.modal[aria-hidden= "true"] .modal-wrapper {
	animation-name: slideFromBottom;
}

@keyframes fadeIn {
	from { opacity: 0;}
	to {opacity: 1;}
}

@keyframes slideFromTop {
	from { transform: translateY(-50px);}
	to {transform: translateY(0px);}
}

@keyframes fadeOut {
	from { opacity: 1;}
	to {opacity: 0;}
}

@keyframes slideFromBottom {
	from { transform: translateY(0px);}
	to {transform: translateY(50px);}
}

.js-modal-close {
	position: absolute;
	right: 15px;
	top: 15px;
	border: none;
	background : none;
}

.fa-xmark {
	font-size: 1.5rem;
}

.modal-wrapper h1 {
	margin-top: 50px;
	font-size: 26px;
	display: flex;
	justify-content: center;
}

.separation {
	border-top: 1px solid rgba(179, 179, 179, 1);
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.picture-par {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.add-picture {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 237px;
	border-radius: 60px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 10px 15px;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.add-picture:hover {
	transform: scale(1.1);
}

.sup-gal {
	margin-right: auto;
	margin-left: auto;
	color: #D65353;
	font-family: 'Syne';
	padding: 5px;
	font-weight: 400;
	font-size: 16px;
}

.modal img {
	width: 90px;
	height: 105px;
}

.modal-gallery {
	display: grid;
	gap: 8px;
	padding: 46px 105px;
	grid-template-columns: repeat(5, 1fr);
	justify-content: center;

}

.modal-gallery-icon {
	position: absolute;
	display: flex;
	top: 5px;
	right: 5px;
	gap: 3px;
}

.bg-icon {
	background-color: black;
	color: white;
	padding: 3px;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.bg-icon:hover {
	background-color: red;
	transform: scale(1.1);
}


/* fin CSS modal */

/* CSS modal2 */



.modal2-icon {
	display: flex;
	justify-content: space-between;
}

.fa-arrow-left {
	font-size: 1.5rem;
}

.container-add-pictures {
	width: 420px;
	height: 170px;
	background-color: #E8F1F6;
	margin: 3em auto;

}

.fa-image {
	font-size: 4rem;
	color: #B9C5CC;
	margin-bottom: 15px;
}

.js-backButton {
	cursor: pointer;
	border: none;
	background-color: white;
	transition: transform 0.2s ease;
}

.js-backButton:hover {
	transform: scale(1.1);
}

.container-add-pictures-button {
	font-family: 'Syne';
	font-weight: 700;
	color: #306685;
	background-color: #CBD6DC;
	margin : 0 auto 10px ;
	width: 173px;
	border-radius: 60px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 10px 15px;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.container-add-pictures-button:hover {
	transform: scale(1.1);
}

.container-add-pictures-p {
	text-decoration: none;
}

#modal2 form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
	width: 420px;
	margin: auto;
}

#modal2 input, select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-top: 10px;
	margin-bottom: 21px;
	padding: 0 10px;
}


.separation2 {
	border-top: 1px solid rgba(179, 179, 179, 1);
	width: 420px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}

.add-picture-valid {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #A7A7A7;
	margin : 2em auto ;
	width: 237px;
	border-radius: 60px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 10px 15px;
	cursor: pointer;
	transition: transform 0.2s ease;
	display: flex;
	justify-content: center;
	align-items: center;

}

.add-picture-valid p {
	text-decoration: none;
	text-align: center;
}

.add-picture-valid:hover {
	transform: scale(1.1);
}

#file-upload {
	display: none;
}

#preview {
	display: none;
	width: 130px;
	height: 100%;
}

.gestion-display {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.add-bg-green {
	background-color: #1D6154;
}



/* fin CSS modal2 */